{% extends "base.html" %}
{% block title %}Lista de Livros{% endblock %}

{% block content %}
    <h2>Lista de Livros Cadastrados</h2>
    {% if livros %}
        <ul>
        {% for livro in livros %}
            <li>
                <strong><a href="{% url 'detalhe_livro' livro.pk %}">{{ livro.titulo }}</a></strong> - 
                {{ livro.autor }} ({{ livro.ano_publicacao }})
                <a href="{% url 'editar_livro' livro.pk %}">[Editar]</a>
                <a href="{% url 'excluir_livro' livro.pk %}">[Excluir]</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum livro cadastrado ainda. <a href="{% url 'criar_livro' %}">Adicione um!</a></p>
    {% endif %}
{% endblock %}